body{
	background-color: #f9f9f9;
}
.border-less .item:before{
	width:0px!important;
}
.liked{
	color: red;
}
.actions >a{
	padding-right: 50px;
	cursor: pointer;
}
.hidden{
	display: none;
}

.comments-div{
	display: none;
}
.chat-box{
	position: fixed; right: 0px; bottom: 0px; height: 55%; width: 24%;
	border: 1px solid rgba(34, 36, 38, 0.15);
	z-index: 999;
	background-color: white;
}
.msg-form-box{
	position: absolute;
	bottom: 0px;
	width: 100%
}
.chat-body{
	height:70%;
	overflow-y: auto;
	display: table;
}
.message-item{
	margin-left: 3px;
	margin-right: 3px;
	display: block;
	padding: 5px;
}
.cell{
	display: table-cell;
	vertical-align: bottom;	
}
.chatbox-header{
	padding: 5px;
	background-color: #a5673f;
	color: white;
}
.blur-text{
	color: rgba(0, 0, 0, 0.4);
    font-size: 0.875em;
}
.blur-text-same-size{
	color: rgba(0, 0, 0, 0.4);
}