<template name="sidebar">
	<div class="ui segment">
		{{> loginButtons}}
	</div>
	{{#if showChats}}
		{{> chats}}
	{{else}}
		{{#if showNotification}}
			{{> notification}}
		{{else}}
			{{> cards}}
		{{/if}}
	{{/if}}
</template>
